.login-wrapper {
  min-width: 375px;
  display: flex;
  justify-content: center;
}
.login-image-wrapper {
  flex-basis: 0% !important;
}

.login-image-wrapper:hover {
  cursor: pointer;
}
.login-form-wrapper {
  flex-basis: 100% !important;
  width: 100%;
  max-width: unset !important;
  display: flex;
  justify-content: center;
}

.login-form-input,
.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
  width: calc(100vw - 2rem) !important;
  min-width: 311px !important;
  max-width: 450px !important;
}

.login-form-box {
  max-width: 450px;
}

.login-form-input {
  margin: 1rem 0 !important;
}

@media (min-width: 768px) {
  .login-image-wrapper,
  .login-form-wrapper {
    display: flex;
    flex-basis: 50% !important;
    max-width: unset !important;
  }
  .login-form-input,
  .css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
    width: calc(50vw - 4rem) !important;
    max-width: 450px !important;
  }
}

@media (min-width: 1024px) {
  .login-image-wrapper {
    flex-basis: 60% !important;
  }
  .login-form-wrapper {
    flex-basis: 40% !important;
  }
  .login-form-input,
  .css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
    width: calc(40vw - 4rem) !important;
  }
}
