.top-rated-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
  overflow: hidden;
}

.top-rated-item img {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  border-radius: 1rem;
}

.top-rated-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-grow: 1;
}

.top-rated-content h2 {
  font-size: 1rem;
  text-transform: capitalize;
  margin: 0;
  white-space: noWrap;
}

.top-rated-content p {
  color: var(--green-light);
  font-weight: 700;
  margin: 0;
}

.discount {
  color: var(--red);
}

@media (min-width: 768px) {
  .top-rated-item {
    gap: 0rem;
  }
  .top-rated-item img {
    width: 6.5rem;
    height: 6.5rem;
  }

  .top-rated-content {
    flex-grow: unset;
    width: 62.5%;
  }

  .top-rated-content h2 {
    font-size: 1.25rem;
  }
}

@media (min-width: 1024px) {
}
