.user-order-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1rem;
  box-shadow: none;
  background-color: inherit;
  padding: 0;
}

.user-order {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.notice-message {
  text-align: center;
  font-size: small;
  font-style: italic;
  margin-top: 0.5rem;
  font-weight: 300;
}

.pending-mssg {
  font-size: small;
  margin: 0;
  color: #8b0000;
  text-align: center;
  font-weight: 300 bold;
  font-style: italic;
}

@media (min-width: 768px) {
  .user-order-wrapper {
    width: calc(50% - 0.5rem);
    max-width: 400px;
  }

  .user-order {
    margin: 0;
  }
}

@media (min-width: 1200px) {
  .user-order-wrapper {
    width: calc(25% - 1.25rem);
    max-width: unset;
  }
}
