.nav-bar-wrapper {
  display: flex;
  overflow: hidden;
  position: sticky !important;
  flex-direction: row !important;
  padding: 0;
}

.nav-bar-toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
}
