.footer-wrapper {
  display: flex;
  flex-direction: row;
  background: linear-gradient(225deg, var(--secondary), var(--primary));
  color: var(--grey);
  padding: 2rem;
  margin-top: 100%;
  width: 100%;
}

.footer-wrapper h1 {
  margin-bottom: 1rem;
}
