.filter-wrapper {
  padding: 1rem 2rem;
  border: 1px solid var(--green-light);
  margin: 0 2rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.slide-down {
  animation: roll-down 1s ease;
  visibility: visible;
  overflow: visible;
  max-height: 100%;
}

.slide-up {
  animation: roll-up 0.5s ease;
  visibility: hidden;
  overflow: hidden;
  padding: 0;
  max-height: 0;
  font-size: 1rem;
}

@keyframes roll-up {
  0% {
    visibility: visible;
    overflow: visible;
    padding: 1rem 2rem;
    max-height: 100%;
  }

  100% {
    visibility: hidden;
    overflow: hidden;
    padding: 0.5rem 2rem;
    max-height: 0;
  }
}

@keyframes roll-down {
  0% {
    max-height: 0;
    visibility: hidden;
    overflow: hidden;
    opacity: 0;
  }

  100% {
    max-height: 100%;
    visibility: visible;
    overflow: visible;
    opacity: 1;
  }
}

.MuiSlider-rail,
.MuiSlider-track,
.MuiSlider-thumb {
  color: var(--green-light);
}

.MuiSlider-root,
.MuiSlider-thumb {
  padding: 0 !important;
}

.MuiBox-root {
  display: flex;
  align-items: center;
}

.slider-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: fit-content;
}
