.add-wrapper {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  animation: blur-in 2s ease-in;
  opacity: 1;
  gap: 1rem;
}

.add-wrapper img {
  width: 18%;
  height: 100%;
  object-fit: cover;
  margin-bottom: 0.25rem;
}

.add-wrapper::after {
  content: "";
  position: absolute;
  top: -0.5rem;
  left: -0.5rem;
  width: 5.5rem;
  height: 5.5rem;
  background-image: url("../../../../assets/specialOffer.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 2;
}

@keyframes blur-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (min-width: 768px) {
  .add-wrapper {
    flex-direction: column;
    width: 100%;
    height: 580px;
    gap: unset;
  }

  .add-wrapper img {
    width: 100%;
    height: 20%;
    object-fit: cover;
    margin-bottom: 0.25rem;
  }

  .add-wrapper::after {
    left: 0;
    top: -1rem;
    width: 8rem;
    height: 8rem;
  }
}

@media (min-width: 1024px) {
  .add-wrapper {
    align-items: center;
  }
  .add-wrapper img {
    width: calc(100% - 4rem);
  }
}
