.cart-quantity-wrapper {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: flex-end;
}
.cart-quantity-wrapper button {
  padding: 0;
}
.cart-quantity-wrapper span {
  width: 3rem;
}

.cart-quantity-wrapper input {
  height: 2rem;
  width: 3rem;
  padding: 0.25rem;
}
.quantity-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  padding: 0rem;
  height: 2rem;
  background-color: var(--cart-blue);
  border-radius: 0.25rem;
  box-shadow: 0px 0.25rem 0.5rem -0.25rem var(--black);
}
.quantity-btn:hover {
  opacity: 0.8;
}

.quantity-btn i {
  color: var(--white);
  font-size: 1rem;
}

@media (min-width: 768px) {
}
