.main-image {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.image {
  width: 100%;
  object-fit: contain;
  max-height: 450px;
}

.left-arrow, .right-arrow{
  top: 50%;
  font-size: 3rem !important;
  padding: 0.5rem;
  color: var(--secondary);
  z-index: 2;
  cursor: pointer;
  user-select: none;
  border: 1px solid var(--secondary);
  margin: 1rem;
}

.slide {
  display: flex;
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
}
