.icon-wrapper {
  display: flex;
  flex-direction: row;
  width: fit-content;
  gap: 1.25rem;
}
.profile-div {
  padding-right: 2rem !important;
}
.profile-div button {
  width: 3rem;
  height: 2rem;
  padding: 0;
}
.profile-div a {
  min-width: 3rem;
  height: 2.25rem !important;
  padding: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-div i {
  font-size: 1.25rem !important;
}
