.account-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.account-info ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  list-style: none;
  margin-bottom: 1rem;
  padding: 0;
}

.account-info li {
  font-weight: 300;
}

.account-info span {
  margin-left: 0.2rem;
  font-size: 1rem;
  font-weight: 700;
}

.btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  gap: 1rem;
  margin-top: 0.65rem;
}

@media (min-width: 768px) {
  .account-info {
    width: calc(50% - 0.5rem);
  }
}

@media (min-width: 1024px) {
  .account-info {
    width: 23%;
  }
}
