.image-slider-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 800px;
  margin-top: 1rem;
}

.displayed-products {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  padding-bottom: 1rem;
}

@media (min-width: 768px) {
  .image-slider-wrapper {
    width: 70%;
    padding: 2rem;
    border: 1px solid var(--green-light);
    margin-top: 0;
    height: fit-content;
  }

  .displayed-products {
    justify-content: space-between;
    padding-bottom: 2rem;
  }
}

@media (min-width: 1024px) {
}
