.password-input-wrapper {
  width: 100%;
}

.password-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.password-info button {
  display: flex;
  align-self: flex-end;
}

@media (min-width: 768px) {
  .password-input-wrapper {
    width: calc(50% - 0.5rem);
  }
}

@media (min-width: 1024px) {
  .password-input-wrapper {
    width: 23%;
  }
}
