.profile-div {
  display: flex;
  flex-direction: row;
  padding: 0.5rem !important;
  overflow: hidden;
  gap: 1.25rem;
  width: fit-content;
}

@media (min-width: 768px) {
  .profile-div {
    padding-right: 1rem !important;
  }
}

@media (min-width: 1024px) {
  .profile-div {
    padding-right: 2rem !important;
  }
}
