.list-item-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: calc(50% - 0.5rem);
  height: 18rem;
  padding: 1rem;
}

.list-item-wrapper img {
  width: 100%;
  height: 8rem;
  object-fit: cover;
  border-radius: 0.5rem;
}

.list-item-wrapper h2 {
  font-size: 1rem;
  margin: 0;
  text-align: center;
  height: 4rem;
}

.list-item-wrapper p {
  margin: 0;
}

.list-item-wrapper a {
  width: fit-content;
}

.list-item-wrapper button:hover {
  background-color: var(--black);
}

@media (min-width: 768px) {
  .list-item-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: calc(33.33% - 0.67rem);
    height: 18rem;
  }
}

@media (min-width: 1024px) {
  .list-item-wrapper {
    width: calc(20% - 0.8rem);
  }
}
