.MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation16.MuiDrawer-paper.MuiDrawer-paperAnchorLeft {
  display: flex;
  margin-top: 56px;
  width: 210.33px;
}

.drawer-box {
  width: 100% !important;
}
.drawer-list {
  padding: 0;
  width: 100%;
}

@media (min-width: 768px) {
  .MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation16.MuiDrawer-paper.MuiDrawer-paperAnchorLeft {
    margin-top: 63.02px;
    width: 214.38px;
  }
}

@media (min-width: 1024px) {
  .MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation16.MuiDrawer-paper.MuiDrawer-paperAnchorLeft {
    margin-top: 82.52px;
    width: 262.38px;
  }
}
