.user-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  padding: 1rem;
  width: 375px;
  height: fit-content;
  gap: 1rem;
}

.user-wrapper h2 {
  margin: 0;
  margin-bottom: 1rem;
  text-align: center;
}

.user-wrapper button {
  display: flex;
  width: fit-content;
}

@media (min-width: 768px) {
  .user-wrapper {
    padding: 2rem;
    width: 100%;
    flex-wrap: wrap;
    max-height: 750px;
    height: fit-content;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 1024px) {
  .user-wrapper {
    max-height: 700px;
  }
}

@media (min-width: 1200px) {
  .user-wrapper {
    align-items: flex-start;
    flex-direction: row;
    gap: 2rem;
    max-width: 1420px;
    height: calc(100vh - 89px);
    flex-wrap: unset;
  }
}
