* {
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --black: #1e1e1e;
  --primary: #1E5E00;
  --secondary: #333333;
  --grey: #d3d3d3;
  --green-darkish: #308500;
  --green-light: rgb(40, 167, 69);
  --red: darkred;
  --pale: #e6f7ff;
}

body,
html,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  width: 100%;
  max-width: 1420px;
  padding: 2rem;
}

ul {
  list-style: none;
}

.error-message {
  color: var(--red);
  font-size: 0.8rem;
  font-style: italic;
  margin: 0;
}