.filter-wrapper {
  padding: 1rem;
  display: flex;
  align-self: center;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  width: fit-content;
  width: 100%;
  max-width: 1420px;
  border: 1px solid var(--green-light);
}

.slider-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  width: 100%;
}

.slide-down {
  animation: roll-down 0.3s ease;
  visibility: visible;
  overflow: visible;
  max-height: 100%;
}

.slide-up {
  animation: roll-up 0.3s ease;
  visibility: hidden;
  overflow: hidden;
  padding: 0;
  max-height: 0;
  font-size: 1rem;
}

@keyframes roll-up {
  0% {
    visibility: visible;
    overflow: hidden;
    padding: 1rem 2rem;
  }

  100% {
    visibility: hidden;
    overflow: hidden;
    padding: 0rem 2rem;
  }
}

@keyframes roll-down {
  0% {
    visibility: hidden;
    overflow: hidden;
    padding: 0rem 2rem;
  }

  100% {
    visibility: visible;
    overflow: visible;
    padding: 1rem 2rem;
  }
}

@media (min-width: 768px) {
  .filter-wrapper {
    flex-direction: row;
    gap: 1rem;
  }
  .slider-wrapper {
    width: fit-content;
    gap: 1rem;
  }
}

@media (min-width: 1024px) {
  .filter-wrapper {
    gap: 3rem;
    padding: 1rem 2rem;
  }
  .slide-up {
    padding: 0rem;
  }
}
