.about-us {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.about-us p {
  max-width: 600px;
  margin: 0;
}

.about-us h2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.25rem;
}

@media (min-width: 768px) {
  .about-us {
    width: 50%;
    padding: 1rem;
  }
}

@media (min-width: 1024px) {
  .about-us {
    width: 50%;
    padding: 2rem;
  }

  .about-us h2 {
    font-size: 2rem;
  }
}
