.about-us {
  width: 100%;
}

.about-us p {
  max-width: 600px;
  margin: 0;
}

.about-us h2 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .about-us {
    width: 50%;
    padding: 1rem;
  }
}

@media (min-width: 1024px) {
  .about-us h2 {
    margin-top: 5rem;
    margin-bottom: 1rem;
  }
}
