.new-item-form {
  padding: 1rem 2rem 2rem 2rem;
  max-height: 80vh;
  overflow: hidden;
  overflow-y: scroll;
}

.new-item-form input,
.new-item-form textarea {
  width: 500px;
}

.new-item-form label {
  margin: 1rem 0 0 0;
}
