.gradient-custom {
  background: linear-gradient(
    to right,
    rgba(69, 8, 151, 1),
    rgba(15, 70, 168, 1)
  );
  padding: 1rem;
}

.cart-items-wrapper {
  max-height: 400px;
  overflow: hidden;
  overflow-y: scroll;
}
