.section-wrapper {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .section-wrapper {
    padding-bottom: 1rem;
  }
}

@media (min-width: 1024px) {
  .section-wrapper {
    padding-bottom: 2rem;
  }
}
