.filter-by-value {
  display: flex;
  flex-direction: column;
  gap: 0rem;
  align-items: center;
  width: 100%;
}

.slider-box {
  width: calc(100% - 1rem);
}

.filter-by-value p {
  margin: 0;
  color: var(--secondary);
  font-size: 1rem;
}

.price-range-slider {
  padding: 0 !important;
}

.price-range-slider span {
  color: var(--green-light);
}

.MuiSlider-valueLabelLabel {
  color: var(--white) !important;
}

@media (min-width: 768px) {
  .filter-by-value p {
    width: 16rem;
  }
}

@media (min-width: 1024px) {
}
