.filter-by-value {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
}

.filter-by-value p {
  margin: 0;
  color: var(--secondary);
  font-size: 1rem;
  width: 16rem;
}

.price-range-slider {
  padding: 0 !important;
}

.price-range-slider span {
  color: var(--green-light);
}

.MuiSlider-valueLabelLabel {
  color: var(--white) !important;
}
